.header{
    background-color: black;
    width: 100vw;
    height: 100vh;
    float: left;
}
nav{
    width: 100vw;
    position: fixed;
    top: 0;
    display: none;
    z-index:80;
}
.nav_logo{
    background-image: url('../img/logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    float: left;
    margin: 20px 40px;
    cursor: pointer;
}
.checkbtn{
    color: white;
    text-align: right;
    height: 60px;
    font-size: 30px;
    line-height: 80px;
    margin-right: 40px;
    float: right;
    display: none;
    cursor: pointer;
}
#check{
    display: none;
}
.typingEffect{
    position: absolute;
    top: 35%;
    color:whitesmoke;
    margin-left: 20%;
    font-size: 60px;
}
@media screen and (max-width: 858px){
    *{
            box-sizing: border-box;        
    }
    nav for minimised screen nav background{
        background: black;
        height: 80px;
        width: 100%;
    }
    nav{
        display: block;
    }
    .checkbtn{
        display: block;
        color: white;
        padding-right: 1%;
        width: 20px;
    }
    @keyframes anime{
        0% {
            color: grey;
            transform: rotateY(360deg);
        }
        50%{
            color: white;

        }
        100%{
            color: rgb(6, 223, 42);
            transform: rotateY(0deg);
        }
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.534);
        color: white;
        top: 0;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: -1;
        font-weight: bold;
        margin: 0px;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 80px;
        list-style: none;
    }
    nav ul li a{
        color: white;
        font-size: 20px;
        padding: 7px 13px;
        border-radius: 3px;
        text-decoration: none;
    }
    #check:checked ~ ul
    {
      left: 0;
    }
    .fa-bars{
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    .typingEffect{
        margin-left: 10%;
    }
}